.section{
  margin-top:90px;
}

.top{
  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-bottom:35px;

  flex-wrap:wrap;

  gap:20px;
}

.top h2{
  font-size:32px;

  color:#222;
}

.top button{
  border:none;

  background:none;

  color:#c63d0f;

  font-weight:600;

  display:flex;

  align-items:center;

  gap:10px;
}