

.card{
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  height: 100%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.image{
  height: 240px;
  object-fit: cover;
}

.cardtitle{
 
  font-size: 20px;
  font-weight: 700;
}

.cardtext{
  font-size: 15px;
  line-height: 1.6;
}

.cardprice{
  font-size: 22px;
  font-weight: bold;
}